.chip {
  background-color: var(--my-background, #eee);
  cursor: default;
  display: flex;
  width: max-content;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
  height: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin: 5px;
}

.disabled {
  opacity: 0.3;
}

.outlined {
  border: 0.5px solid black;
  background-color: transparent;
}

img {
  object-fit: cover;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

button {
  background-color: #ACACAC;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

button:hover {
  background-color: #8D8D8D;
}
